:host {
  height: 100dvh;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.player-name {
  text-align: center;
}

.back-button {
  margin-left: 0;
}

.cards-list {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 33%;
  gap: 1rem;

  @media (max-width: 599.98px) and (orientation: portrait) {
    flex-direction: column;
  }
}
