// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$primary-palette: (
  50: #f7ffe7,
  100: #ebfdc2,
  200: #ddfd99,
  300: #cffc6c,
  400: #c3f945,
  500: #b8f600,
  600: #afe400,
  700: #a0cd00,
  800: #93b500,
  900: #7f8c00,
  A100: #ddfd99,
  A200: #cffc6c,
  A400: #c3f945,
  A700: #93b500,
  contrast: (
    50: #363636,
    100: #363636,
    200: #363636,
    300: #363636,
    400: #363636,
    500: #363636,
    600: #363636,
    700: #363636,
    800: #363636,
    900: #363636,
    A100: #363636,
    A200: #363636,
    A400: #363636,
    A700: #363636,
  )
);

$accent-palette: (
  50: #f4e5ff,
  100: #e3bffe,
  200: #d094ff,
  300: #bc66ff,
  400: #ab3eff,
  500: #9a00fd,
  600: #850bf7,
  700: #6611f0,
  800: #4213eb,
  900: #001ade,
  A100: #e3bffe,
  A200: #bc66ff,
  A400: #ab3eff,
  A700: #6611f0,
  contrast: (
    50: #363636,
    100: #363636,
    200: #363636,
    300: #363636,
    400: #363636,
    500: #363636,
    600: #363636,
    700: #363636,
    800: #363636,
    900: #363636,
    A100: #363636,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$back-office-primary: mat.define-palette($primary-palette);
$back-office-accent: mat.define-palette($accent-palette);

// The warn palette is optional (defaults to red).
$back-office-warn: mat.define-palette(mat.$red-palette);

//$typography-config: mat.define-typography-config(
//  $font-family: 'Rubik',
//  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
//  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
//  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
//  $headline-4: mat.define-typography-level(34px, 40px, 400),
//  $headline-5: mat.define-typography-level(24px, 32px, 400),
//  // ...
//);

$typography-config: mat.define-typography-config(
  $font-family: 'Unbounded, sans-serif',
  $headline-5: mat.define-typography-level(32px, 48px, 900, 'Rubik'),
  $body-2: mat.define-typography-level(20px, 28px, 400, 'Rubik'),
  $button: mat.define-typography-level(18px, 24px, 900, 'Unbounded'),
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme-config: mat.define-dark-theme((
  color: (
    primary: $back-office-primary,
    accent: $back-office-accent,
    warn: $back-office-warn,
  ),
  typography: $typography-config,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme-config);

@include mat.typography-hierarchy($typography-config);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 0 #c3f945;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px;
}

.play-button {
  margin-top: auto;
  margin-bottom: 33%;
}

.space {
  flex: 1;
}
