:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 270px;
  margin: 75px auto;
}

.players-list {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.player-name-form {
  display: flex;
  padding: 12px;

  mat-form-field {
    flex: 1;

    ::ng-deep.mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.player-name-wrapper .mat-mdc-fab, .player-name-wrapper .mat-mdc-mini-fab {
  box-shadow: none;
}

.actions-list {
  margin-right: 8px;
  display: flex;
  gap: 8px;
}
